@use 'util' as u;

:root {
  //colors

  --c-black-bg: #151515;
  --c-gray-contact: #242424;
  --c-accent: #4ee1a0;
  --c-gray-text: #d9d9d9;
  --c-white-text: #fff;
  --c-invalid: #ff6f5b;

  //font size
  --fs-body: #{u.rem(18)};
  --fs-xxl: #{u.rem(88)};
  --fs-xl: #{u.rem(72)};
  --fs-l: #{u.rem(48)};
  --fs-m: #{u.rem(40)};
  --fs-s: #{u.rem(32)};

  //content width
  --container: #{u.rem(1110)};
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--fs-body);
  line-height: 1.56;
  background-color: var(--c-black-bg);
  color: var(--c-white-text);

  padding-block-end: 200px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p {
  font-size: u.rem(16);
  line-height: 1.5;
  font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
  color: var(--c-gray-text);
}

h1 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  letter-spacing: -0.028em;
  line-height: 1.1;
}

.wrapper {
  width: calc(100% - u.rem(32));
  max-width: var(--container);
  margin-inline: auto;

  @media (min-width: u.rem(600)) {
    width: calc(100% - u.rem(60));
  }
}

a {
  transition: color 250ms ease-in-out;
}

a.underline {
  display: inline-block;
  padding-block-end: u.rem(10);
  font-size: u.rem(16);
  line-height: 1.625;
  letter-spacing: u.rem(2.3);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--c-white-text);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--c-accent) 75%,
    var(--c-accent) 75%
  );
  background-position: 0 u.em(34);
  background-repeat: repeat-x;
  background-size: u.rem(8) u.rem(2);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
