@use '../util' as u;

.footer {
  background-color: var(--c-gray-bg);
  padding-block: u.rem(40) u.rem(60);

  @media (min-width: u.rem(600)) {
    padding-block: u.rem(30) u.rem(40);
  }

  @media (min-width: u.rem(1000)) {
    padding-block: u.rem(47) u.rem(92);
  }
}
