@use '../util' as u;

.hero {
  @media (min-width: u.rem(600)) {
    position: relative;

    margin-block-start: u.rem(-62);
  }

  @media (min-width: u.rem(1000)) {
    margin-block-start: 0;
  }
  &__wrapper {
    padding-block-end: u.rem(80);

    @media (min-width: u.rem(600)) {
      padding-block-end: u.rem(60);
    }

    @media (min-width: u.rem(1000)) {
      position: relative;
      padding-block-end: u.rem(100);
    }
  }

  &__content {
    @media (min-width: u.rem(600)) {
      display: flex;
      // overflow-x: hidden;
      align-items: center;
    }
    & picture {
      order: 2;
    }

    @media (min-width: u.rem(1000)) {
      align-items: flex-start;
    }

    & picture {
      margin-inline-start: u.rem(-80);
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    width: u.rem(174);
    height: auto;

    @media (min-width: u.rem(600)) {
      position: relative;
      width: 42vw;
      max-width: u.rem(445);
      height: auto;
      left: auto;
      right: 0;
      translate: 0;
    }
    @media (min-width: u.rem(1000)) {
      margin-block-start: u.rem(-199);
    }
  }

  &__text {
    text-align: center;
    margin-block-start: u.rem(335);
    position: relative;
    // z-index: 1;

    @media (min-width: u.rem(600)) {
      // width: 62vw;
      margin-block-start: u.rem(90);
      margin-inline-end: u.rem(-30);
      flex: 1 0 58vw;
      text-align: left;
      z-index: 1;
    }

    @media (min-width: u.rem(1000)) {
      margin-block-start: 0;
      margin-inline-end: 0;
      flex: 1;
    }
  }

  &__rings {
    position: absolute;
    right: 50%;
    top: u.rem(130);
    z-index: -1;
    height: auto;

    @media (min-width: u.rem(600)) {
      top: u.rem(90);
      right: auto;
      left: 0;
      translate: -50%;
    }
    @media (min-width: u.rem(1000)) {
      top: 0;
      translate: -50% -50%;
    }
  }

  &__circle {
    position: relative;
    top: u.rem(171);
    margin-bottom: u.rem(-129);
    translate: calc(100vw - 64px - 16px);

    @media (min-width: u.rem(600)) {
      position: absolute;
      top: auto;
      right: 0;
      bottom: u.rem(190);
      translate: 50%;
      z-index: 1;
    }

    @media (min-width: u.rem(1000)) {
      top: u.rem(322);
      right: u.rem(445);
    }
  }

  &__headline {
    margin-block-end: u.rem(24);
    & > span {
      background-image: linear-gradient(
        to right,
        var(--c-accent) 75%,
        var(--c-accent) 75%
      );
      background-position: 0 1.18em;
      background-repeat: repeat-x;
      background-size: u.rem(8) u.rem(4);
    }

    & > br {
      display: none;
    }

    @media (min-width: u.rem(600)) {
      margin-block-end: u.rem(60);
      & > br {
        display: inline-block;
      }
    }

    @media (min-width: u.rem(1000)) {
      margin-block-end: u.rem(43);
      & > br {
        display: none;
      }
    }
  }

  &__description {
    margin-block-end: u.rem(24);

    @media (min-width: u.rem(600)) {
      margin-block-end: u.rem(34);
      // width: 70%;
    }

    @media (min-width: u.rem(1000)) {
      margin-block-end: u.rem(66);
      width: 38ch;
    }
  }

  &__contact {
  }
}
