@use '../util' as u;

.hero {
  &__wrapper {
    padding-block-end: u.rem(80);
    border-bottom: 1px solid var(--c-gray-text);
  }
  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    display: block;
  }

  &__text {
    text-align: center;
    margin-top: u.rem(335);
    position: relative;
  }

  &__rings {
  }

  &__circle {
  }
  

  &__headline {
    & > span {
      background-image: linear-gradient(
        to right,
        var(--c-accent) 75%,
        var(--c-accent) 75%
      );
      background-position: 0 1.18em;
      background-repeat: repeat-x;
      background-size: u.rem(8) u.rem(4);
    }
  }

  &__description {
  }

  &__contact {
  }
}
